# Node.js
node_modules/
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

# Enviroment variables
.env
.env.*
!.env.example

# Logs
logs/
*.log

# OS Files
.DB_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Build
dist/
build/

# Java / Kotlin
.gradle/
build/
out/